In [1]:
import pandas as pd
import sys
print("python" + sys.version)
print("pandas "+pd.__version__)

python3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
pandas 1.3.4

In [2]:
d={"one":[1,2,3,4,5],"two":[2,2,2,2,2],"letter":["a","a","b","b","c"]}
df=pd.DataFrame(d)
print(df)

   one  two letter
0    1    2      a
1    2    2      a
2    3    2      b
3    4    2      b
4    5    2      c

In [3]:
one=df.groupby('letter')
print(one)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001C91A351B80>

In [5]:
one.sum()

        one  two
letter
a         3    4
b         7    4
c         5    2

In [6]:
one=df.groupby(["letter","two"])
one.sum()

            one
letter two
a      2      3
b      2      7
c      2      5

In [8]:
letterone=df.groupby(["letter","one"],as_index=False).sum()
letterone

  letter  one  two
0      a    1    2
1      a    2    2
2      b    3    2
3      b    4    2
4      c    5    2

In [28]:
import pandas as pd
data1=({         "A":["A0","A1","A2","A3"],
                "B":["B0","B1","B2","B3"],
                "C":["C0","C1","C2","C3"],
                "D":["D0","D1","D2","D3"]})

data2=({         "A":["A4","A5","A6","A7"],
                "B":["B4","B5","B6","B7"],
                "C":["C4","C5","C6","C7"],
                "D":["D4","D5","D6","D7"]
      })  
data3=({         "A":["A8","A9","A10","A11"],
                "B":["B8","B9","B10","B11"],
                "C":["C8","C9","C10","C11"],
                "D":["D8","D9","D10","D11"]
      })
             


df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
df3=pd.DataFrame(data3)

print(df1)
print(df2)
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7
     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [30]:
df4=pd.merge(data1,data2,on="A")
print(df4)

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed